.info {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  background-color: #fff;
  border-radius: 0.25rem;
  color: #000;
  max-width: max-content;
  border: 1px solid var(--body-info-border-color);

  &-svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;

    &--linkedin {
      fill: #0077b5;
    }
  }
}
