<div class="browser-search">
  <div class="browser-search-buttons browser-search-buttons--left">
    <div class="svg-container">
      <svg class="browser-search-button">
        <use href="./assets/sprite.svg#icon-arrow_back" />
      </svg>
    </div>
    <div class="svg-container">
      <svg class="browser-search-button">
        <use href="./assets/sprite.svg#icon-arrow_forward" />
      </svg>
    </div>
    <div class="svg-container">
      <svg class="browser-search-button">
        <use href="./assets/sprite.svg#icon-refresh" />
      </svg>
    </div>
  </div>
  <div class="browser-search-link-container">
    <div class="svg-container">
      <svg class="browser-search-button browser-search-button--link">
        <use href="./assets/sprite.svg#icon-shield" />
      </svg>
    </div>
    <div
      class="svg-container"
      style="margin-left: 0.25rem; margin-right: 0.25rem"
    >
      <svg class="browser-search-button browser-search-button--link">
        <use href="./assets/sprite.svg#icon-lock" />
      </svg>
    </div>
    <p class="browser-search-text">
      {{ title }}
    </p>
    <div class="svg-container star">
      <svg class="browser-search-button browser-search-button--link">
        <use href="./assets/sprite.svg#icon-star" />
      </svg>
    </div>
  </div>
  <div class="browser-search-buttons">
    <div class="svg-container">
      <svg class="browser-search-button">
        <use href="./assets/sprite.svg#icon-pocket" />
      </svg>
    </div>
    <div class="svg-container">
      <svg class="browser-search-button">
        <use href="./assets/sprite.svg#icon-download" />
      </svg>
    </div>
  </div>
</div>
